root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{java,xml,yml,yaml,properties,sql}]
charset = utf-8

[*.{vue,js,ts,json,html,css,scss}]
charset = utf-8
indent_style = space
indent_size = 2

[*.md]
charset = utf-8
trim_trailing_whitespace = false
